.bodyHistorique {
    display: flex;
    justify-content: space-evenly;
    font-family: $font-1;
    min-height: 84%;

    .categoriesCommand {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 2% 0 2% 1%;
        width: 18%;
        border-right: 5px solid $orange;
        background-color: $black;
        max-height: 35vh;

        h2 {
            position: absolute;
            color: $white;
            font-size: 2.3em;
            top: 8%;

            o {
                color: $orange;
            }
        }

        .category {
            position: absolute;
            top: 27%;
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 70%;
            overflow-x: hidden;

            button, a {
                text-decoration: none;
                background-color: $black;
                border: none;
                color: whitesmoke;
                font-size: 1em;
                padding: 10px 0 10px 0;
                cursor: pointer;

                &:hover {
                    color: $orange;
                    transform: translateX(5%);
                }
            }
        }
    }

    .historique {
        width: 60%;
        margin: 2% 1% 2% 0%;
        background-color: $black;
        border-left: 5px solid $orange;

        h1 {
            color: $white;
            font-size: 2.4em;
            margin: 5% 0 0 8%;

            o {
                color: $orange;
            }
        }

        .listeHisto {
            margin: 8% 0 5% 8%;

            h2 {
                color: $white;
                margin: 2% 0 3% 0;

                o {
                    color: $orange;
                }
            }

            p {
                color: $white;
                margin: 10px 0 0 0;
            }

            .btnValidated {
                margin: 5px 0 0 0;
                border: none;
                background: transparent;
                color: $white;
                border: 2px solid $white;
                border-radius: 5px;
                padding: 0 3px;

                &:hover {
                    background-color: $orange;
                    color: $black;
                    border-color: $orange;
                }
            }

            .headTable {
                width: 80%;

                table {
                    table-layout: fixed;
                    width: 100%;

                    th {
                        padding: 15px;
                        text-align: center;
                        font-weight: bolder;
                        font-size: 14px;
                        color: $black;
                        background-color: $black;
                        text-transform: uppercase;
                        background-color: $orange;
                    }

                    th:nth-child(4) {
                        width: 100px;
                    }
                }
            }

            .bodyTable {
                overflow-x:auto;
                margin-top: 0px;
                width: 80%;

                table {
                    width: 100%;
                    table-layout: fixed;
                    border-left: 3px solid $orange;

                    tr:nth-child(2n) {
                        background-color: #3b3b3b;
                    }

                    tr {
                        background-color: #575757;

                        td {
                            padding: 15px;
                            width: auto;
                            text-align: center;
                            vertical-align:middle;
                            font-weight: 300;
                            font-size: 12px;
                            color: #fff;
                        }

                        td:nth-child(4) {
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}

