.header {
    height: 8%;
    position: relative;
    background-color: $black;
    display: flex;
    font-family: $font-1;
    border-bottom: 4px solid $orange;

    .profil {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 8%;
        display: flex;
        align-items: center;
        gap: 10px;

        .imgProfil {
            width: 40px;
            height: 40px;
        }

        .nameUser {
            color: $white;
            margin: 0;
        }

        button {
            border: none;
            background: transparent;
            color: $white;
            border: 2px solid $white;
            border-radius: 5px;
            padding: 0 3px;

            &:hover {
                background-color: $orange;
                color: $black;
                border-color: $orange;
            }
        }
    }

    h1 {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: $white;
        font-size: 40px;

        o {
            color: $orange;
        }
    }

    .addProduct {
        position: absolute;
        transform: translate(-50%, -50%);
        right: 12%;
        top: 50%;
        display: flex;
        flex-direction: column;

        button {
            border: none;
            background: transparent;
            color: $white;
            border: 2px solid $white;
            border-radius: 5px;
            padding: 0 3px;

            &:hover {
                background-color: $orange;
                color: $black;
                border-color: $orange;
            }
        }
    }

    .panier {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 2%;

        .imgPanier {
            width: 40px;
            height: 40px;
        }

        .countPanier {
            position: absolute;
            bottom: -60%;
            right: -35%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black;
            background-color: $orange;
            height: 20px;
            width: 30px;
            border-radius: 10px;
        }
    }

    .historique {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: 5%;
        font-weight: bold;

        a {
            text-decoration: none;
            color: $white;

            &:hover {
                color: $orange;
            }
        }
    }
}

.bodyProduct {

    display: flex;
    justify-content: space-around;
    font-family: $font-1;
    height: 84%;

    .products {
        position: relative;
        margin: 2% 1% 2% 0%;
        // border-left: 5px solid $orange;
        background-color: $black;
        width: 75%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .titleProduct {
            margin: 0 0 3% 0;
            width: 80%;
            position: absolute;
            top: 6%;
            display: flex;
            justify-content: center;


            h2 {
                color: $white;
                font-size: 2.5em;
                text-align: center;

                o {
                    color: $orange;
                }
            }
        }

        h2 {
            position: absolute;
            color: $white;
            font-size: 2.5em;
            top: 6%;

            o {
                color: $orange;
            }
        }

        .notifyBasket {
            width: 80%;
            color: $white;
            font-size: 0.8em;
            text-align: end;
        }

        .headTable {
            width: 79.4%;
            margin-right: 6px;

            table {
                table-layout: fixed;
                width: 100%;

                th {
                    padding: 15px;
                    text-align: center;
                    font-weight: bolder;
                    font-size: 18px;
                    color: $black;
                    background-color: $black;
                    text-transform: uppercase;
                    background-color: $orange;
                }

                th:nth-child(4) {
                    width: 100px;
                }
            }
        }

        .bodyTable {
            overflow-y: scroll;
            margin-top: 0px;
            width: 80%;
            max-height: 60%;
            position: relative;


            table {
                width: 100%;
                table-layout: fixed;
                border-left: 3px solid $orange;

                tr:nth-child(2n) {
                    background-color: #3b3b3b;
                }

                tr {
                    background-color: #575757;

                    td {
                        padding: 15px;
                        width: auto;
                        text-align: center;
                        font-weight: 300;
                        font-size: 16px;
                        color: #fff;

                        form {
                            display: flex;
                            gap: 5px;
                            justify-content: center;
                            align-items: center;

                            input {
                                background-color: #575757;
                                color: $white;
                            }

                            button {
                                background: transparent;
                                border: none;
                                cursor: pointer;

                                img {
                                    width: 20px;
                                }
                            }

                            .delProductBasket {
                                color: $white;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                border: 2px solid $orange;
                                background-color: $black;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 12px;
                                font-weight: bolder;

                                &:hover {
                                    background-color: $orange;
                                    color: $black;
                                }
                            }
                        }

                        .modifProduct {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 15px;

                            button {
                                background-color: transparent;
                                border: none;
                                color: $white;
                                font-size: 1.2em;

                                &:hover {
                                    color: $orange;
                                }
                            }
                        }
                    }

                    td:nth-child(4) {
                        width: 100px;
                    }
                }
            }

            .validateBasket {
                text-align: end;
                margin: 2% 2% 0 0;

                label {
                    color: $white;
                }

                input {
                    background-color: #575757;
                    color: $white;
                }

                button {
                    border: 2px solid $orange;
                    color: $black;
                    background-color: $orange;
                    padding: 5px 10px;
                    font-weight: bolder;
                    border-radius: 5px;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}




//scss category

.categories {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0 2% 1%;
    width: 18%;
    border-right: 5px solid $orange;
    background-color: $black;

    h2 {
        position: absolute;
        color: $white;
        font-size: 2.3em;
        top: 8%;

        o {
            color: $orange;
        }
    }

    .category {
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 70%;
        overflow-x: hidden;

        a {
            text-decoration: none;
            color: whitesmoke;
            font-size: 1em;
            padding: 10px 0 10px 0;
            cursor: pointer;

            &:hover {
                color: $orange;
                transform: translateX(5%);
            }
        }
    }

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    background-color: $black;
    color: $white;
    border-top: 4px solid $orange;

    a {
        color: $white;

        &:hover {
            color: $orange;
        }
    }
}

.pageAddProduct {
    margin-left: 10%;
}


.bodyTable::-webkit-scrollbar {
    width: 8px;
}

.bodyTable::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 8px;
}

.bodyTable::-webkit-scrollbar-track {
    background: $black;
}
