$orange: #f3632b;
$black: #2b2b2b;
$white: whitesmoke;

@font-face {
    font-family: "font-1";
    src: url(../asset/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 226, 226);
    overflow-x: hidden;
}
